/* Base styles (for desktop) */
body {
    background-image: url("https://getmyuni.azureedge.net/college-images-test/miet-engineering-college-mietec-trichy/2ef68a0a3fc344d7831bb8b9889e8ebe.jpeg");
    background-position: inherit;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    animation: fadeIn 0.6s ease-out;
    transition: box-shadow 0.3s ease;
}

/* Mobile styles */
@media (max-width: 768px) {
    body {
        padding: 20px;
        height: auto;
        background-size: contain;
        display: block;
    }

    .container {
        width: 100%;
        padding: 20px;
        box-shadow: none;
        border-radius: 0;
    }

    .search-box input,
    .search-box select {
        width: 100%;
    }

    .search-box button {
        width: 100%;
    }
}
